<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Second</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>epreg</display-name>
    <servlet-name>epreg</servlet-name>
    <servlet-class>com.epreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>epreg</servlet-name>
    <url-pattern>/epreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>com.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>com.Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complents</display-name>
    <servlet-name>Complents</servlet-name>
    <servlet-class>com.Complents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complents</servlet-name>
    <url-pattern>/Complents</url-pattern>
  </servlet-mapping>
</web-app>